{% extends 'generic/object.html' %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_contract:contract_list' %}?external_party={{ object.external_party.pk }}">{{ object.external_party }}</a></li>
{% endblock %}
{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Contract" %}</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Name" %}</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Contract type" %}</th>
              <td>
                <a href="{{ object.contract_type.get_absolute_url }}">{{ object.contract_type.name }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">{% trans "External party type" %}</th>
              <td>{{ object.external_party_object_type }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "External party" %}</th>
              <td>
                <a href="{{ object.external_party_object.get_absolute_url }}">{{ object.external_party_object.name }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">{% trans "Status" %}</th>
              <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "External reference" %}</th>
              <td>{{ object.external_reference }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Internal party" %}</th>
              <td>{{ object.internal_party }}</td>
            </tr>
            {% if not 'tenant' in hidden_fields %}
            <tr>
              <th scope="row">{% trans "Tenant" %}</th>
              <td>{{ object.tenant }}</td>
            </tr>
            {% endif %}
            {% if not 'start_date' in hidden_fields %}
            <tr>
              <th scope="row">{% trans "Start date" %}</th>
              <td>{{ object.start_date }}</td>
            </tr>
            {% endif %}
            {% if not 'end_date' in hidden_fields %}
            <tr>
              <th scope="row">{% trans "End date" %}</th>
              <td>{{ object.end_date }}</td>
            </tr>
            {% endif %}
            {% if not 'initial_term' in hidden_fields %}
            <tr>
              <th scope="row">{% trans "Initial term" %}</th>
              <td>{{ object.initial_term }} {% trans "month" %}</td>
            </tr>
            {% endif %}
            {% if not 'renewal_term' in hidden_fields %}
            <tr>
              <th scope="row">{% trans "Renewal term" %}</th>
              <td>{{ object.renewal_term }} {% trans "month" %}</td>
            </tr>
            {% endif %}
            {% if not 'notice_period' in hidden_fields %}
            <tr>
              <th scope="row">{% trans "Notice period" %}</th>
              <td>{{ object.notice_period }} {% trans "days" %}</td>
            </tr>
            {% endif %}
            <tr>
              <th scope="row">{% trans "Currency" %}</th>
              <td>{{ object.get_currency_display  }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Monthly recuring costs" %}</th>
              <td>{{ object.mrc }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Yearly recuring costs" %}</th>
              <td>{{ object.yrc }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Calculated corresponding Yearly or Monthly value" %}</th>
              <td>{{ object.calculated_rc }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Non recuring costs" %}</th>
              <td>{{ object.nrc }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Invoice frequency" %}</th>
              <td>{{ object.invoice_frequency }}</td>
            </tr>
            {% if not 'parent' in hidden_fields %}
            <tr>
              <th scope="row">{% trans "Parent" %}</th>
              <td>
                <a href="{{ object.parent.get_absolute_url }}">{{ object.parent.name }}</a>
              </td>
            </tr>
            {% endif %}
            {% if object.documents %}
            <tr>
              <th scope="row">{% trans "Documents" %}</th>
                <td>
                  <a href="{{ object.documents }}" target="_blank">{% trans "Documents" %}</a>
                </td>
            </tr>
            {% endif %}
          </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
      {% if invoice_template %}
      <div class="card">
        <h5 class="card-header">
          {% trans "Invoice template" %}
        </h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Number" %}</th>
            <td>
              <a href="{{ invoice_template.get_absolute_url }}">{{  invoice_template.number }}</a>
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Currency" %}</th>
            <td>{{ invoice_template.get_currency_display  }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Total amount" %}</th>
            <td>{{ invoice_template.total_invoicelines_amount }}</td>
          </tr>
        </table>
        <h5 class="card-header">
          {% trans "Invoice template lines" %}
        </h5>
          {% render_table invoicelines_table %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">{% trans "Assignments" %}</h5>
          {% render_table assignments_table %}
      </div>
    </div>
  </div>
  {% if childs_table %}
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">{% trans "childs" %}</h5>
          {% render_table childs_table %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if perms.netbox_contract.view_invoice %}
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">
          {% trans "Invoices" %}
          {% if perms.netbox_contract.add_invoice %}
          <div class="card-actions">
            <a href="{% url 'plugins:netbox_contract:invoice_add' %}?contracts={{ object.pk }}" class="btn btn-ghost-primary btn-sm">
              <i class="mdi mdi-plus-thick" aria-hidden="true"></i>
              {% trans "Add an invoice" %}
          </a>
          </div>
          {% endif %}
        </h5>
          {% render_table invoices_table %}
      </div>
    </div>
  </div>
  {% endif %}
{% plugin_right_page object %}
{% endblock content %}
