{% extends 'generic/object.html' %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'plugins:netbox_contract:contractline_list' %}?contract_id={{ object.contract.pk }}">{{ object.contract }}</a>
  </li>
{% endblock %}
{% block extra_controls %}
  {% if perms.netbox_contract.change_contractline and object.unit.billing_method != 'one_time' and not object.replaced_by.exists %}
    <a href="{% url 'plugins:netbox_contract:contractline_amend' pk=object.pk %}" class="btn btn-primary">
      <i class="mdi mdi-cash-sync" aria-hidden="true"></i> {% trans "Amend price or quantity" %}
    </a>
  {% endif %}
{% endblock %}
{% block content %}
  {% if lock_message %}
  <div class="alert alert-warning" role="alert">
    {{ lock_message }} {% trans "Its accounting dimensions, comments and tags can still be edited." %}
  </div>
  {% endif %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Contract line" %}</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Contract" %}</th>
              <td><a href="{{ object.contract.get_absolute_url }}">{{ object.contract }}</a></td>
            </tr>
            <tr>
              <th scope="row">{% trans "Description" %}</th>
              <td>{{ object.description }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Quantity" %}</th>
              <td>{{ object.quantity }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Unit" %}</th>
              <td>
                <a href="{{ object.unit.get_absolute_url }}">{{ object.unit }}</a>
                {% badge object.unit.get_billing_method_display bg_color=object.unit.get_billing_method_color %}
              </td>
            </tr>
            <tr>
              <th scope="row">{% trans "Unit price" %}</th>
              <td>{{ object.unit_price }} {{ object.get_currency_display }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Start date" %}</th>
              <td>{{ object.start_date|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "End date" %}</th>
              <td>{{ object.end_date|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Accounting dimensions" %}</th>
              <td>
                {% for dimension in object.accounting_dimensions.all %}
                  <a href="{{ dimension.get_absolute_url }}">{{ dimension }}</a>{% if not forloop.last %}, {% endif %}
                {% empty %}
                  {{ ''|placeholder }}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th scope="row">{% trans "Total value" %}</th>
              <td>{% if object.total_value is None %}{% trans "Not available" %}{% else %}{{ object.total_value }}{% endif %}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Yearly value" %}</th>
              <td>{{ object.yearly_value }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Replaces" %}</th>
              <td>
                {% if object.replaces %}<a href="{{ object.replaces.get_absolute_url }}">{{ object.replaces }} ({{ object.replaces.start_date|placeholder }} - {{ object.replaces.end_date|placeholder }})</a>{% else %}{{ ''|placeholder }}{% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">{% trans "Replaced by" %}</th>
              <td>
                {% for successor in object.replaced_by.all %}<a href="{{ successor.get_absolute_url }}">{{ successor }} ({% trans "from" %} {{ successor.start_date }})</a>{% empty %}{{ ''|placeholder }}{% endfor %}
              </td>
            </tr>
            <tr>
              <th scope="row">{% trans "Invoiced at conversion" %}</th>
              <td>{% checkmark object.invoiced_at_conversion %}</td>
            </tr>
          </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% plugin_right_page object %}
{% endblock content %}
