{% extends 'generic/object.html' %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">
    {% for contract in object.contracts.all %}
    <a href="{% url 'plugins:netbox_contract:invoice_list' %}?contracts={{ contract.pk }}">{{ contract.name }}</a>
    {% endfor %}
  </li>
{% endblock %}
{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        {% if object.template %}
        <h5 class="card-header">{% trans "Invoice template" %}</h5>
        {% else %}
        <h5 class="card-header">{% trans "Invoice" %}</h5>
        {% endif %}
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Number" %}</th>
              <td>{{ object.number }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Date" %}</th>
              <td>{{ object.date }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Status" %}</th>
              <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
            </tr>
            {% if not object.template %}
            <tr>
              <th scope="row">{% trans "Period start" %}</th>
              <td>{{ object.period_start }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Period end" %}</th>
              <td>{{ object.period_end }}</td>
            </tr>
            {% endif %}
            <tr>
              <th scope="row">{% trans "Currency" %}</th>
              <td>{{ object.get_currency_display  }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Amount" %}</th>
              <td>{{ object.amount }}</td>
            </tr>
            {% if object.documents %}
            <tr>
              <th scope="row">{% trans "Documents" %}</th>
                <td>
                  <a href="{{ object.documents }}" target="_blank">{% trans "Documents" %}</a>
                </td>
            </tr>
            {% endif %}
            <tr>
              <th scope="row">{% trans "Invoice lines total" %}</th>
                <td>{{ object.total_invoicelines_amount }}</td>
              </tr>
          </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
    <div class="row">
      <div class="col col-md-12">
        <div class="card">
          <h5 class="card-header">
            {% trans "Invoice lines" %}
            <div class="card-actions">
              <a href="{% url 'plugins:netbox_contract:invoiceline_add' %}?invoice={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-ghost-primary btn-sm">
                <i class="mdi mdi-plus-thick" aria-hidden="true"></i> {% trans "Add a line" %}
              </a>
            </div>
          </h5>
            {% render_table invoicelines_table %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">
        <div class="card">
          <h5 class="card-header">{% trans "Contracts" %}</h5>
            {% render_table contracts_table %}
        </div>
      </div>
    </div>
  </div>
{% plugin_right_page object %}
{% endblock content %}