{% extends 'generic/object.html' %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'plugins:netbox_contract:invoiceline_list' %}?invoice={{ invoice.pk }}">{{ invoice.number }}</a>
  </li>
{% endblock %}
{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Invoice lines" %}</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Invoice" %}</th>
              <td>
                <a href="{{ object.invoice.get_absolute_url }}">{{ object.invoice.number }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">{% trans "Amount" %}</th>
              <td>{{ object.amount }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Currency" %}</th>
              <td>{{ object.get_currency_display  }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Accounting dimensions" %}</th>
              <td>{{ object.accounting_dimensions }}</td>
            </tr>
          </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% plugin_right_page object %}
{% endblock content %}