{% extends 'generic/object.html' %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Unit" %}</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Name" %}</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Description" %}</th>
              <td>{{ object.description|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Billing method" %}</th>
              <td>{% badge object.get_billing_method_display bg_color=object.get_billing_method_color %}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Months covered by one unit price" %}</th>
              <td>{{ object.months|placeholder }}</td>
            </tr>
          </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">{% trans "Contract lines" %}</h5>
          {% render_table lines_table %}
      </div>
    </div>
  </div>
{% plugin_right_page object %}
{% endblock content %}
