{% extends 'generic/object.html' %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Invoices</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Contract</th>
              <td>
                <a href="{{ object.contract.get_absolute_url }}">{{ object.contract }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">Index</th>
              <td>{{ object.index }}</td>
            </tr>
            <tr>
              <th scope="row">Number</th>
              <td>{{ object.number }}</td>
            </tr>
            <tr>
              <th scope="row">Period start</th>
              <td>{{ object.period_start }}</td>
            </tr>
            <tr>
              <th scope="row">Period end</th>
              <td>{{ object.period_end }}</td>
            </tr>
            <tr>
              <th scope="row">Amount</th>
              <td>{{ object.amount }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
    </div>
  </div>
{% endblock content %}